MAIN_DOMAIN=
LETSENCRYPT_EMAIL=
TRAEFIK_SUB=traefik
PORTAINER_SUB=portainer
REDISINSIGHT_SUB=redis
N8N_SUB=n8n
N8N_WEBHOOK_SUB=webhook.n8n
CHATWOOT_SUB=chatwoot
EVOAPI_SUB=evoapi
RABBITMQ_EVOAPI_SUB=rabbitmq-evoapi
GLOBAL_PASSWORD=
GLOBAL_32_KEY=
